module.exports = [{
    src: ['./components/images/sprites-*.png'],
    image: './components/sprites/sprites.png',
    style: './components/sprites/sprites.scss',
    prefix: 'sprites-',
    cssPath: './',
    unit: 'rem',
    convert: 100,
    blank: 0,
    padding: 10,
    algorithm: 'binary-tree',
    tmpl: '',
    wrap: ''
}];