.${selector} {
    width: ${width}${unit};
    height: ${height}${unit};
    background: url(${cssPath}${imageName}) no-repeat;
    background-size: ${totalWidth}${unit} ${totalHeight}${unit};
    background-position: ${-x}${unit} ${-y}${unit};
}
